/**
 * Override global colors as needed.
 */

/*
:root {
    --r-border-color: rgb(209 213 219);
    --r-shade: color-mix(in srgb, var(--highlight-bg), #FFF 95%);
    --r-shade-dark: color-mix(in srgb, var(--highlight-bg), #FFF 90%);
}
 */

/**
 * Override the following additional theme-specific classes as needed.
 */

/*
.r-shade-text {
    color: var(--text-color);
}
*/
