# Networking
flask >= 2.3, < 3.0
python-socketio >= 5.8, < 6.0
python-socketio[client] >= 5.8, < 6.0
gevent >= 22.10, < 23.0
gevent >= 22.10, < 23.0
gevent-websocket >= 0.10, < 1.0
gunicorn >= 21.2, < 22.0

# Data
sqlalchemy >= 2.0, < 3.0

# Miscellaneous
semantic-version >= 2.10, < 3.0
deepmerge >= 1.1
dataclasses-json >= 0.5
