/*
 * Connector categories: Tags
 */
.r-connector-category-repository-tag {
    background: var(--p-primary-200);
    color: var(--p-primary-800);
    border: 1px solid var(--p-primary-400);
}

.r-connector-category-archive-tag {
    background: var(--p-rds-highlight-200);
    color: var(--p-rds-highlight-800);
    border: 1px solid var(--p-rds-highlight-400);
}

.r-connector-category-unknown-tag {
    background: var(--p-slate-50);
    color: var(--p-slate-600);
    border: 1px solid var(--p-slate-200);
}

/*
 * Dialogs
 */
.r-dialog-header {
    @apply r-primary-bg r-primary-text py-2.5 mb-4 rounded-b-none #{!important};
    border-radius: inherit;
}

