.r-connector-category-repository-tag {
    background: var(--green-100);
    color: var(--green-700);
}

.r-connector-category-archive-tag {
    background: var(--blue-100);
    color: var(--blue-700);
}

.r-connector-category-unknown-tag {
    background: var(--surface-200);
    color: var(--surface-700);
}
