/*
 * Global colors.
 */
:root {
    --r-border-color: rgb(209 213 219);
    --r-shade: color-mix(in srgb, var(--highlight-bg), #FFF 95%);
    --r-shade-dark: color-mix(in srgb, var(--highlight-bg), #FFF 90%);
}

/*
 * Helper classes to encapsulate standard theme variables.
 */
.r-text {
    color: var(--text-color);
}

.r-primary-fg {
    color: var(--primary-color);
}

.r-primary-bg {
    background-color: var(--primary-color);
}

.r-primary-text {
    color: var(--primary-color-text);
}

.r-highlight-fg {
    color: var(--highlight-bg);
}

.r-highlight-bg {
    background-color: var(--highlight-bg);
}

.r-highlight-text {
    color: var(--highlight-text-color);
}

.r-border {
    border-radius: var(--border-radius);
}

/*
 * Extending theme classes.
 */
.r-text-light {
    color: color-mix(in srgb, var(--text-color), #FFF 30%);
    opacity: 0.7;
}

.r-text-caption {
    @apply font-bold;
}

.r-text-caption-big {
    @apply font-bold;
    @apply text-lg;
}

.r-text-success {
    @apply text-green-500;
}

.r-text-warning {
    @apply text-orange-500;
}

.r-text-error {
    @apply text-red-500;
}

.r-border-color {
    color: var(--r-border-color);
}

.r-shade {
    background-color: var(--r-shade);
}

.r-shade-dark {
    background-color: var(--r-shade-dark);
}

.r-shade-text {
    color: var(--text-color);
}

.r-small-caps {
    font-variant: small-caps;
}

/*
 * Layout classes.
 */
.r-centered-grid {
    @apply grid grid-flow-row auto-rows-max justify-items-center justify-center;
}
